= form_tag @user, :method => :put  do 
    
    = label :user,:first_name, "First Name"
    = text_field :user, :first_name
    
    = label :user,:last_name, 'Last Name:'
    = text_field :user, :last_name
    
    %h2 Address
    = label :user, 'Line 1:'
    = text_field :user, :address_one
    = label :user, 'Line 2:'
    = text_field :user, :address_two
    = label :user, 'Apt #:'
    = text_field :user, :apt_num
    = label :user, 'City:'
    = text_field :user, :city
    = label :user,'State:'
    = select :user, 'state', options_for_select(@states, selected: @current_user.state)
    = label :user,'Zip:'
    = text_field :user, :zip, :maxlength => 5
    = submit_tag 'Update' 
    
= button_to 'Cancel', user_path(@current_user), :method=>:get

= link_to "Delete My Account", user_path(@current_user), :method=>:delete, data: {confirm: "Are you sure to delete your account?"}

